body {
    box-shadow: inset;  
  font-family: Arial, sans-serif;
  height: 10vh;
    /*background: linear-gradient(90deg, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 67%);
     */
     background-color: lightblue;
     
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.heading-top{ 
    margin-top: 10%;
    font-size: 22px;
    font-weight: 600;

    
}
.main-body{ 
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 14%;
    margin-left: 6%;
  }

  #file-input {
    margin-bottom: 10px;
  }

  #convert-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  #convert-btn:hover {
    background-color: #45a049;
  }